.checkbox
{
	
}

.container1 
{ 	border:2px solid #ccc; 
	width:300px; height: 100px; 
	overflow-y: scroll; 
}

#rcorners4 
{
    border-radius: 15px 15px 15px 15px;
    background: #73AD21;
    padding: 20px; 
    width: 220px;
    height: 150px; 
}

